*{margin: 0%;
padding: 0%;
box-sizing: border-box;}
body{  flex-direction:column
    border: 40px solid red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(35, 233, 84, 0.345);
    padding-right: 40px
    padding: 60px;
    margin: 60px;
    font-size: 20px;
    text-align: center;
   flex-wrap: wrap;
    justify-content: space-around;}
   img{
    width: 300px;
    height: 300px;
    border-radius: 10px
   }
   
;}
    .special{
        margin-right:auto;
        margin-left:auto;
        max-width: 1200px;
       max-height: 500px;

    }